body{
    background-color: azure;
}
.container{
    width:100%;
    height:100%;
}
.col-md-4{
    background-color:#e3e3e3;
}
.first{
    background-color: rgb(255, 216, 23);
    color:azure;
    height: 50px;
    font-size: 20px;
}
.one{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.two{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.three{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.four{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.five{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.six{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.seven{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.eight{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.nine{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.ten{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.eleven{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.twelve{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.thiteen{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.fourteen{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.fifteen{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.sixteen{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.seventeen{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.eighteen{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.nineteen{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.twenty{
    border-bottom: dotted;
    border-color: rgb(191, 207, 220);
    height: 43px;
    font-size: 20px;
}
.col-md-8{
    background-color:aliceblue;
}
.second{
    font-size: 20px;
    text-align: justify;
}
.third{
    font-size: 20px;
    text-align: justify; 
}
.fourth{
    font-size: 20px;
    text-align: justify;
}
